= form_for(@gadget) do |f|
  - if @gadget.errors.any?
    #error_explanation
      %h2 #{pluralize(@gadget.errors.count, "error")} prohibited this gadget from being saved:
      %ul 
        - @gadget.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    %br
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :price
    %br
    = f.number_field :price, class: "form-control"

  .actions
    = f.submit nil, class: 'btn btn-primary'

